<section class="hero-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1>Cambiando <span class="highlight">DESTINOS</span></h1>
        <p class="lead">
          Bienvenido/a a <span class="text-primary">Huellas Conectadas</span>, donde cada huella cuenta una historia.
          <span class="text-primary">Únete a nuestra misión</span> de brindar segundas oportunidades y encuentra a ese
          compañero que llenará tu hogar de amor.
        <div class="mt-4">
          <button class="btn-register" (click)="goFiltrar()">¡Adopta!</button>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="/animalesHome.jpeg" alt="Pets Illustration" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="services-section py-5 bg-white">
  <div class="container">
    <h2 class="text-center mb-2">Nuestras funcionalidades para protectoras</h2>
    <p class="h5 text-center mb-4">
      Ayudamos a <strong>proteger y encontrar hogar</strong> a tus animales de la forma <strong>más sencilla</strong>
    </p>

    <div class="row mt-4">
      <div class="col-sm-6 col-md-3 mb-3">
        <div class="card text-center h-100 service-card">
          <div class="card-body">
            <i class="bi bi-collection fs-1 mb-3 text-primary"></i>
            <h5>Gestión fácil de animales</h5>
            <p>Publica y actualiza el perfil de tus animales en pocos pasos, incluyendo fotos y descripciones.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mb-3">
        <div class="card text-center h-100 service-card">
          <div class="card-body">
            <i class="bi bi-broadcast fs-1 mb-3 text-warning"></i>
            <h5>Máxima visibilidad</h5>
            <p>Da a conocer a tus animales y tu labor. Llega a más adoptantes gracias a la difusión de nuestra plataforma.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mb-3">
        <div class="card text-center h-100 service-card">
          <div class="card-body">
            <i class="bi bi-envelope-heart fs-1 mb-3 text-danger"></i>
            <h5>Contacto directo y seguro</h5>
            <p>Recibe solicitudes de adopción fácilmente y gestiona el proceso de principio a fin de forma segura.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 mb-3">
        <div class="card text-center h-100 service-card">
          <div class="card-body">
            <i class="bi bi-stars fs-1 mb-3 text-success"></i>
            <h5>Sistema de match inteligente</h5>
            <p>Te ayudamos a encontrar la mejor familia para cada animal mediante filtros y compatibilidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

